:root {
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #a855f7;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;
  }
  
  .nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
  }
  nav .logo a:hover {
    color: var(--primary-color-dark);
  }
  
  nav .checkbox {
    display: none;
  }
  
  nav input {
    display: none;
  }
  nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
  }
  
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
  }
  
  ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
  }
  
  ul li a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
  }
  
  .section {
    background-color: var(--extra-light);
  }
  
  .section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
  }
  
  .title span {
    font-weight: 600;
  }
  
  .description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
  }
  
  .action__btns {
    display: flex;
    gap: 1rem;
  }
  
  .action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .hire__me {
    background-color: var(--primary-color);
    color: #ffffff;
  }
  
  .hire__me:hover {
    background-color: var(--primary-color-dark);
  }
  
  .portfolio {
    color: var(--primary-color);
  }
  
  .portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
  }
  
  .image {
    display: grid;
    place-items: center;
  }
  
  .image img {
    width: min(25rem, 90%);
    border-radius: 100%;
  }
  
  @media (width < 750px) {
    nav .checkbox {
      display: block;
    }
  
    ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 85px);
      left: -100%;
      top: 85px;
      background-color: var(--extra-light);
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }
  
    nav #check:checked ~ ul {
      left: 0;
    }
  
    ul li a {
      font-size: 1.25rem;
    }
  
    .section__container {
      padding: 10rem 1rem 5rem 1rem;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .image {
      grid-area: 1/1/2/2;
    }
  
    .action__btns {
      margin: auto;
    }
  }
  
  header .sticky{
  padding: 15px 11%;
  background: #000;
  border-bottom: 1px solid #4e5055;
  }
  
  
  
  .about {
    background-color: seashell;
  
  }
  
  .about {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding:4rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  
  .about-img img{
    width: min(25rem, 90%);
    border-radius: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .about-text h2 {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .about-text h5 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
  }
  
  .title span {
    font-weight: 600;
  }
  
  .about-text p {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
  }
  .btn{
    display: inline-block;
    padding: 9px 24px;
    background: var(--primary-color);
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid var(--primary-color);
    border-radius: 2rem;
    transition: all ease 0.5s;
    text-decoration: none;
  }
  .btn:hover {
    transform: scale(1.1);
    background: transparent;
    border: 2px solid purple;
  }
  .services {
    background-color: var(--extra-light);
    padding:  4rem 1rem; /* Adjust padding as needed */
    text-align: center;
  }
  
  .service-item {
    display: grid;
   /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem; /* Adjust margin as needed */
  }
  
  .service-box {
    padding: 5rem;
    background: #f5f5f5; /* Change background color as needed */
    border-radius: 10px;
    border: 1px solid #ddd; /* Change border properties as needed */
    text-align: center;
    transition: all ease 0.5s;
  }
  
  .service-box i {
    font-size: 3rem;
    margin-bottom: 10px;
    color: purple; /* Adjust color as needed */
  }
  
  .service-box h3 {
    font-size: 1.5rem;
    margin-bottom: 12px;
    color: var(--text-dark); /* Adjust color as needed */
  }
  
  .service-box p {
    font-size: 1rem;
    color: var(--text-light); /* Adjust color as needed */
    margin-bottom: 1.5rem;
  }
  
  .s-btnn {
    display: inline-block;
    padding: 9px 24px;
    background: var(--primary-color);
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid var(--primary-color);
    border-radius: 2rem;
    transition: all ease 0.5s;
    text-decoration: none;
  }
  
  .s-btnn:hover {
    transform: scale(1.1);
    background: transparent;
    border: 2px solid purple;
    
  }
  .service-box:hover{
    transform: translateY(-8px);
    border: 1px solid #4e5055;
  }
  
  
  
  
  
  
  
  
  /* Adjust styles for testimonials */
  .testimonials {
    background-color: seashell;
    padding: 4rem 1rem;
    text-align: center;
  }
  
  .testimonials-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .testimonials-box {
    padding: 2rem;
    background: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
    transition: all ease 0.5s;
  }
  
  .testimonials-box i {
    font-size: 3rem;
    margin-bottom: 10px;
    color: var(--black); /* Adjust color as needed */
  }
  
  .testimonials-box h3 {
    font-size: 1.5rem;
    margin-bottom: 12px;
    color: var(--text-dark); /* Adjust color as needed */
  }
  
  .testimonials-box p {
    font-size: 1rem;
    color: var(--text-light); /* Adjust color as needed */
    margin-bottom: 1.5rem;
  }
  
  .s-btnn {
    display: inline-block;
    padding: 9px 24px;
    background: var(--primary-color);
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid var(--primary-color);
    border-radius: 2rem;
    transition: all ease 0.5s;
    text-decoration: none;
  }
  
  .s-btnn:hover {
    transform: scale(1.1);
    background: transparent;
    border: 2px solid purple;
  }
  
  .testimonials-box:hover {
    transform: translateY(-8px);
    border: 1px solid #4e5055;
  }
  .testimonials-box img {
    width: 60px;
    border-radius: 50%;
  }
  
  .Skills {
    background-color: var(--extra-light);
    padding: 1.5rem 1rem; /* Adjust padding as needed */
   text-align: center;
  }
      .Skills-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the width of the columns as needed */
        gap: 1rem; /* Adjust the gap between items as needed */
        justify-items: center;
        margin-top: 2rem; /* Adjust the margin as needed */
      }
  
      .Skills-box {
        padding: 1rem; /* Adjust padding as needed */
        background: #f5f5f5;
        border-radius: 10px;
        border: 1px solid #ddd;
        text-align: center;
        transition: all ease 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .Skills-box i {
        font-size: 2rem; /* Adjust icon size as needed */
        margin-bottom: 10px;
        color: black;
        
      }
   
      .Skills-box:hover {
    transform: translateY(-8px);
    border: 1px solid #4e5055;
      }
  
    .contact{
      background-color: white;
    padding: 1.5rem 1rem; /* Adjust padding as needed */
   text-align: center;
  }
  .contact-box {
        padding: 1rem; /* Adjust padding as needed */
        background:plum;
  }
  
   .ri-mail-line:hover {
    transform: translateY(-8px);
    border: 1px solid transparent;
      }
      .ri-facebook-box-fill:hover {
    transform: translateY(-8px);
    border: 1px solid transparent;
      }
      .ri-instagram-fill:hover {
    transform: translateY(-8px);
    border: 1px solid transparent;
      }
      .ri-twitter-fill:hover {
    transform: translateY(-8px);
    border: 1px solid transparent;
      }
      @media (max-width: 1060px){
        .about{
          grid-template-columns: 1fr;
        }
        .about-img{
          text-align: center;
          order:2
        }
        .about-img img{
          max-width: 100%;
          width:600px;
          height: auto;
        }
        .service-item{
          grid-template-columns: repeat(auto-fit,minmax(350px,auto));
        }
  .testimonials-items{
    grid-template-columns: repeat(auto-fit,minmax(350px,auto));
  }
  
      }
        
      }